In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv(r"C:\Users\aksha\Desktop\archive\hotel_bookings.csv")
dataset

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [3]:
dataset.shape

(119390, 32)

In [4]:
dataset.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [5]:
ds=dataset.copy()
ds.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [6]:
ds['hotel'].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [7]:
ds['is_canceled'].unique()

array([0, 1], dtype=int64)

In [8]:
ds['arrival_date_year'].unique()

array([2015, 2016, 2017], dtype=int64)

In [9]:
print(ds['country'].nunique())
ds['country'].unique()

177

array(['PRT', 'GBR', 'USA', 'ESP', 'IRL', 'FRA', nan, 'ROU', 'NOR', 'OMN',
       'ARG', 'POL', 'DEU', 'BEL', 'CHE', 'CN', 'GRC', 'ITA', 'NLD',
       'DNK', 'RUS', 'SWE', 'AUS', 'EST', 'CZE', 'BRA', 'FIN', 'MOZ',
       'BWA', 'LUX', 'SVN', 'ALB', 'IND', 'CHN', 'MEX', 'MAR', 'UKR',
       'SMR', 'LVA', 'PRI', 'SRB', 'CHL', 'AUT', 'BLR', 'LTU', 'TUR',
       'ZAF', 'AGO', 'ISR', 'CYM', 'ZMB', 'CPV', 'ZWE', 'DZA', 'KOR',
       'CRI', 'HUN', 'ARE', 'TUN', 'JAM', 'HRV', 'HKG', 'IRN', 'GEO',
       'AND', 'GIB', 'URY', 'JEY', 'CAF', 'CYP', 'COL', 'GGY', 'KWT',
       'NGA', 'MDV', 'VEN', 'SVK', 'FJI', 'KAZ', 'PAK', 'IDN', 'LBN',
       'PHL', 'SEN', 'SYC', 'AZE', 'BHR', 'NZL', 'THA', 'DOM', 'MKD',
       'MYS', 'ARM', 'JPN', 'LKA', 'CUB', 'CMR', 'BIH', 'MUS', 'COM',
       'SUR', 'UGA', 'BGR', 'CIV', 'JOR', 'SYR', 'SGP', 'BDI', 'SAU',
       'VNM', 'PLW', 'QAT', 'EGY', 'PER', 'MLT', 'MWI', 'ECU', 'MDG',
       'ISL', 'UZB', 'NPL', 'BHS', 'MAC', 'TGO', 'TWN', 'DJI', 'STP',
       'KNA', 'ETH', 'IRQ', 'HND', 'RWA', 'KHM', 'MCO', 'BGD', 'IMN',
       'TJK', 'NIC', 'BEN', 'VGB', 'TZA', 'GAB', 'GHA', 'TMP', 'GLP',
       'KEN', 'LIE', 'GNB', 'MNE', 'UMI', 'MYT', 'FRO', 'MMR', 'PAN',
       'BFA', 'LBY', 'MLI', 'NAM', 'BOL', 'PRY', 'BRB', 'ABW', 'AIA',
       'SLV', 'DMA', 'PYF', 'GUY', 'LCA', 'ATA', 'GTM', 'ASM', 'MRT',
       'NCL', 'KIR', 'SDN', 'ATF', 'SLE', 'LAO'], dtype=object)

In [10]:
ds['customer_type'].unique()

array(['Transient', 'Contract', 'Transient-Party', 'Group'], dtype=object)

In [11]:
ds['reservation_status'].unique()

array(['Check-Out', 'Canceled', 'No-Show'], dtype=object)

In [12]:
ds['children'].unique()

array([ 0.,  1.,  2., 10.,  3., nan])

In [13]:
ds.dropna(axis=0, subset=['country'])
ds.shape

(119390, 32)

In [14]:
ds['agent'].fillna(ds['agent'].mean(),inplace=True)

In [15]:
ds['agent'].isna().sum()

0

In [16]:
ds['company']=pd.to_numeric(ds['company'])
ds['company'].unique()

array([ nan, 110., 113., 270., 178., 240., 154., 144., 307., 268.,  59.,
       204., 312., 318.,  94., 174., 274., 195., 223., 317., 281., 118.,
        53., 286.,  12.,  47., 324., 342., 373., 371., 383.,  86.,  82.,
       218.,  88.,  31., 397., 392., 405., 331., 367.,  20.,  83., 416.,
        51., 395., 102.,  34.,  84., 360., 394., 457., 382., 461., 478.,
       386., 112., 486., 421.,   9., 308., 135., 224., 504., 269., 356.,
       498., 390., 513., 203., 263., 477., 521., 169., 515., 445., 337.,
       251., 428., 292., 388., 130., 250., 355., 254., 543., 531., 528.,
        62., 120.,  42.,  81., 116., 530., 103.,  39.,  16.,  92.,  61.,
       501., 165., 291., 290.,  43., 325., 192., 108., 200., 465., 287.,
       297., 490., 482., 207., 282., 437., 225., 329., 272.,  28.,  77.,
       338.,  72., 246., 319., 146., 159., 380., 323., 511., 407., 278.,
        80., 403., 399.,  14., 137., 343., 346., 347., 349., 289., 351.,
       353.,  54.,  99., 358., 361., 362., 366., 372., 365., 277., 109.,
       377., 379.,  22., 378., 330., 364., 401., 232., 255., 384., 167.,
       212., 514., 391., 400., 376., 402., 396., 302., 398.,   6., 370.,
       369., 409., 168., 104., 408., 413., 148.,  10., 333., 419., 415.,
       424., 425., 423., 422., 435., 439., 442., 448., 443., 454., 444.,
        52., 459., 458., 456., 460., 447., 470., 466., 484., 184., 485.,
        32., 487., 491., 494., 193., 516., 496., 499.,  29.,  78., 520.,
       507., 506., 512., 126.,  64., 242., 518., 523., 539., 534., 436.,
       525., 541.,  40., 455., 410.,  45.,  38.,  49.,  48.,  67.,  68.,
        65.,  91.,  37.,   8., 179., 209., 219., 221., 227., 153., 186.,
       253., 202., 216., 275., 233., 280., 309., 321.,  93., 316.,  85.,
       107., 350., 279., 334., 348., 150.,  73., 385., 418., 197., 450.,
       452., 115.,  46.,  76.,  96., 100., 105., 101., 122.,  11., 139.,
       142., 127., 143., 140., 149., 163., 160., 180., 238., 183., 222.,
       185., 217., 215., 213., 237., 230., 234.,  35., 245., 158., 258.,
       259., 260., 411., 257., 271.,  18., 106., 210., 273.,  71., 284.,
       301., 305., 293., 264., 311., 304., 313., 288., 320., 314., 332.,
       341., 352., 243., 368., 393., 132., 220., 412., 420., 426., 417.,
       429., 433., 446., 357., 479., 483., 489., 229., 481., 497., 451.,
       492.])

In [17]:
ds.dropna(subset=['children'],inplace=True)
ds.shape

(119386, 32)

In [18]:
ds.dropna(subset=['country'],inplace=True)
ds.shape

(118898, 32)

In [19]:
ds.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               0
babies                                 0
meal                                   0
country                                0
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                                  0
company                           112275
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [20]:
ds["company"].fillna(method ='ffill', inplace = True)

In [21]:
ds['company'].isna().sum()

18

In [22]:
ds.dropna(subset=['company'],inplace=True)
ds['company'].isna().sum()

0

In [23]:
ds

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
18,Resort Hotel,0,0,2015,July,27,1,0,1,2,...,No Deposit,86.693382,110.0,0,Transient,107.42,0,0,Check-Out,2015-07-02
19,Resort Hotel,0,7,2015,July,27,1,0,4,2,...,No Deposit,250.000000,110.0,0,Transient,153.00,0,1,Check-Out,2015-07-05
20,Resort Hotel,0,37,2015,July,27,1,1,4,1,...,No Deposit,241.000000,110.0,0,Transient,97.29,0,1,Check-Out,2015-07-06
21,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.000000,110.0,0,Transient,84.67,0,1,Check-Out,2015-07-07
22,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.000000,110.0,0,Transient,84.67,0,1,Check-Out,2015-07-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.000000,485.0,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.000000,485.0,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.000000,485.0,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.000000,485.0,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.000000,485.0,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [24]:
ds.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000
mean,0.371383,104.313821,2016.157831,27.166580,15.803121,0.929038,2.502145,1.858387,0.104214,0.007949,0.032015,0.087155,0.131654,0.221147,86.550119,181.067614,2.331107,102.004886,0.061894,0.571677
std,0.483177,106.889716,0.707369,13.590999,8.779100,0.996226,1.900231,0.578606,0.399192,0.097388,0.176042,0.845932,1.484783,0.652684,102.987651,136.752534,17.631764,50.487341,0.244190,0.792651
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,51.000000,0.000000,70.000000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,28.000000,153.000000,0.000000,95.000000,0.000000,0.000000
75%,1.000000,161.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,152.000000,269.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,709.000000,2017.000000,53.000000,31.000000,16.000000,41.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [25]:
from sklearn import preprocessing as prep
scale=prep.MinMaxScaler(feature_range=(0,25))
dsm=scale.fit_transform(ds['lead_time'].values.reshape(-1,1))
ds['lead_time']=dsm
ds['lead_time']

18        0.000000
19        0.246827
20        1.304654
21        2.538787
22        2.538787
            ...
119385    0.811001
119386    3.596615
119387    1.198872
119388    3.843441
119389    7.228491
Name: lead_time, Length: 118880, dtype: float64

In [26]:
ds.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000
mean,0.371383,3.678202,2016.157831,27.166580,15.803121,0.929038,2.502145,1.858387,0.104214,0.007949,0.032015,0.087155,0.131654,0.221147,86.550119,181.067614,2.331107,102.004886,0.061894,0.571677
std,0.483177,3.769031,0.707369,13.590999,8.779100,0.996226,1.900231,0.578606,0.399192,0.097388,0.176042,0.845932,1.484783,0.652684,102.987651,136.752534,17.631764,50.487341,0.244190,0.792651
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,0.634697,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,51.000000,0.000000,70.000000,0.000000,0.000000
50%,0.000000,2.433004,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,28.000000,153.000000,0.000000,95.000000,0.000000,0.000000
75%,1.000000,5.677010,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,152.000000,269.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,25.000000,2017.000000,53.000000,31.000000,16.000000,41.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [27]:
mcols=['stays_in_week_nights','adults']

for i in mcols:
    dsm=scale.fit_transform(ds[i].values.reshape(-1,1))
    ds[i]=dsm
ds.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000
mean,0.371383,3.678202,2016.157831,27.166580,15.803121,0.929038,1.525698,0.844721,0.104214,0.007949,0.032015,0.087155,0.131654,0.221147,86.550119,181.067614,2.331107,102.004886,0.061894,0.571677
std,0.483177,3.769031,0.707369,13.590999,8.779100,0.996226,1.158677,0.263003,0.399192,0.097388,0.176042,0.845932,1.484783,0.652684,102.987651,136.752534,17.631764,50.487341,0.244190,0.792651
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,0.634697,2016.000000,16.000000,8.000000,0.000000,0.609756,0.909091,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,51.000000,0.000000,70.000000,0.000000,0.000000
50%,0.000000,2.433004,2016.000000,28.000000,16.000000,1.000000,1.219512,0.909091,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,28.000000,153.000000,0.000000,95.000000,0.000000,0.000000
75%,1.000000,5.677010,2017.000000,38.000000,23.000000,2.000000,1.829268,0.909091,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,152.000000,269.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,25.000000,2017.000000,53.000000,31.000000,16.000000,25.000000,25.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [28]:
mcols1=['previous_bookings_not_canceled','agent','company','days_in_waiting_list','adr']
for i in mcols1:
    dsm=scale.fit_transform(ds[i].values.reshape(-1,1))
    ds[i]=dsm
ds.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000
mean,0.371383,3.678202,2016.157831,27.166580,15.803121,0.929038,1.525698,0.844721,0.104214,0.007949,0.032015,0.087155,0.045713,0.221147,4.005155,8.150261,0.149048,0.501190,0.061894,0.571677
std,0.483177,3.769031,0.707369,13.590999,8.779100,0.996226,1.158677,0.263003,0.399192,0.097388,0.176042,0.845932,0.515550,0.652684,4.821519,6.366505,1.127351,0.233462,0.244190,0.792651
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.634697,2016.000000,16.000000,8.000000,0.000000,0.609756,0.909091,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.374532,2.094972,0.000000,0.353194,0.000000,0.000000
50%,0.000000,2.433004,2016.000000,28.000000,16.000000,1.000000,1.219512,0.909091,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.264045,6.843575,0.000000,0.468798,0.000000,0.000000
75%,1.000000,5.677010,2017.000000,38.000000,23.000000,2.000000,1.829268,0.909091,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.069288,12.243948,0.000000,0.612147,0.000000,1.000000
max,1.000000,25.000000,2017.000000,53.000000,31.000000,16.000000,25.000000,25.000000,10.000000,10.000000,1.000000,26.000000,25.000000,21.000000,25.000000,25.000000,25.000000,25.000000,8.000000,5.000000

In [29]:
ds

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
18,Resort Hotel,0,0.000000,2015,July,27,1,0,0.609756,0.909091,...,No Deposit,4.011862,4.841713,0.0,Transient,0.526230,0,0,Check-Out,2015-07-02
19,Resort Hotel,0,0.246827,2015,July,27,1,0,2.439024,0.909091,...,No Deposit,11.657303,4.841713,0.0,Transient,0.737000,0,1,Check-Out,2015-07-05
20,Resort Hotel,0,1.304654,2015,July,27,1,1,2.439024,0.454545,...,No Deposit,11.235955,4.841713,0.0,Transient,0.479387,0,1,Check-Out,2015-07-06
21,Resort Hotel,0,2.538787,2015,July,27,1,2,2.439024,0.909091,...,No Deposit,11.657303,4.841713,0.0,Transient,0.421030,0,1,Check-Out,2015-07-07
22,Resort Hotel,0,2.538787,2015,July,27,1,2,2.439024,0.909091,...,No Deposit,11.657303,4.841713,0.0,Transient,0.421030,0,1,Check-Out,2015-07-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,0.811001,2017,August,35,30,2,3.048780,0.909091,...,No Deposit,18.398876,22.299814,0.0,Transient,0.474070,0,0,Check-Out,2017-09-06
119386,City Hotel,0,3.596615,2017,August,35,31,2,3.048780,1.363636,...,No Deposit,0.374532,22.299814,0.0,Transient,1.071928,0,2,Check-Out,2017-09-07
119387,City Hotel,0,1.198872,2017,August,35,31,2,3.048780,0.909091,...,No Deposit,0.374532,22.299814,0.0,Transient,0.758779,0,4,Check-Out,2017-09-07
119388,City Hotel,0,3.843441,2017,August,35,31,2,3.048780,0.909091,...,No Deposit,4.119850,22.299814,0.0,Transient,0.512265,0,0,Check-Out,2017-09-07
119389,City Hotel,0,7.228491,2017,August,35,29,2,4.268293,0.909091,...,No Deposit,0.374532,22.299814,0.0,Transient,0.728676,0,2,Check-Out,2017-09-07

In [31]:
ds['reservation_status_date']=pd.to_datetime(ds['reservation_status_date'])
ds['reservation_status_year']=ds['reservation_status_date'].dt.year
ds['reservation_status_month']=ds['reservation_status_date'].dt.month
ds['reservation_status_day']=ds['reservation_status_date'].dt.day
ds

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,reservation_status_year,reservation_status_month,reservation_status_day
18,Resort Hotel,0,0.000000,2015,July,27,1,0,0.609756,0.909091,...,0.0,Transient,0.526230,0,0,Check-Out,2015-07-02,2015,7,2
19,Resort Hotel,0,0.246827,2015,July,27,1,0,2.439024,0.909091,...,0.0,Transient,0.737000,0,1,Check-Out,2015-07-05,2015,7,5
20,Resort Hotel,0,1.304654,2015,July,27,1,1,2.439024,0.454545,...,0.0,Transient,0.479387,0,1,Check-Out,2015-07-06,2015,7,6
21,Resort Hotel,0,2.538787,2015,July,27,1,2,2.439024,0.909091,...,0.0,Transient,0.421030,0,1,Check-Out,2015-07-07,2015,7,7
22,Resort Hotel,0,2.538787,2015,July,27,1,2,2.439024,0.909091,...,0.0,Transient,0.421030,0,1,Check-Out,2015-07-07,2015,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,0.811001,2017,August,35,30,2,3.048780,0.909091,...,0.0,Transient,0.474070,0,0,Check-Out,2017-09-06,2017,9,6
119386,City Hotel,0,3.596615,2017,August,35,31,2,3.048780,1.363636,...,0.0,Transient,1.071928,0,2,Check-Out,2017-09-07,2017,9,7
119387,City Hotel,0,1.198872,2017,August,35,31,2,3.048780,0.909091,...,0.0,Transient,0.758779,0,4,Check-Out,2017-09-07,2017,9,7
119388,City Hotel,0,3.843441,2017,August,35,31,2,3.048780,0.909091,...,0.0,Transient,0.512265,0,0,Check-Out,2017-09-07,2017,9,7
119389,City Hotel,0,7.228491,2017,August,35,29,2,4.268293,0.909091,...,0.0,Transient,0.728676,0,2,Check-Out,2017-09-07,2017,9,7

In [32]:
ds.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_year,reservation_status_month,reservation_status_day
count,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,...,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000,118880.000000
mean,0.371383,3.678202,2016.157831,27.166580,15.803121,0.929038,1.525698,0.844721,0.104214,0.007949,...,0.221147,4.005155,8.150261,0.149048,0.501190,0.061894,0.571677,2016.094701,6.334421,15.669658
std,0.483177,3.769031,0.707369,13.590999,8.779100,0.996226,1.158677,0.263003,0.399192,0.097388,...,0.652684,4.821519,6.366505,1.127351,0.233462,0.244190,0.792651,0.715317,3.344430,8.778778
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2014.000000,1.000000,1.000000
25%,0.000000,0.634697,2016.000000,16.000000,8.000000,0.000000,0.609756,0.909091,0.000000,0.000000,...,0.000000,0.374532,2.094972,0.000000,0.353194,0.000000,0.000000,2016.000000,3.000000,8.000000
50%,0.000000,2.433004,2016.000000,28.000000,16.000000,1.000000,1.219512,0.909091,0.000000,0.000000,...,0.000000,1.264045,6.843575,0.000000,0.468798,0.000000,0.000000,2016.000000,6.000000,16.000000
75%,1.000000,5.677010,2017.000000,38.000000,23.000000,2.000000,1.829268,0.909091,0.000000,0.000000,...,0.000000,7.069288,12.243948,0.000000,0.612147,0.000000,1.000000,2017.000000,9.000000,23.000000
max,1.000000,25.000000,2017.000000,53.000000,31.000000,16.000000,25.000000,25.000000,10.000000,10.000000,...,21.000000,25.000000,25.000000,25.000000,25.000000,8.000000,5.000000,2017.000000,12.000000,31.000000

In [33]:
ds.drop(['reservation_status_date'],axis=1,inplace=True)
ds

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_year,reservation_status_month,reservation_status_day
18,Resort Hotel,0,0.000000,2015,July,27,1,0,0.609756,0.909091,...,4.841713,0.0,Transient,0.526230,0,0,Check-Out,2015,7,2
19,Resort Hotel,0,0.246827,2015,July,27,1,0,2.439024,0.909091,...,4.841713,0.0,Transient,0.737000,0,1,Check-Out,2015,7,5
20,Resort Hotel,0,1.304654,2015,July,27,1,1,2.439024,0.454545,...,4.841713,0.0,Transient,0.479387,0,1,Check-Out,2015,7,6
21,Resort Hotel,0,2.538787,2015,July,27,1,2,2.439024,0.909091,...,4.841713,0.0,Transient,0.421030,0,1,Check-Out,2015,7,7
22,Resort Hotel,0,2.538787,2015,July,27,1,2,2.439024,0.909091,...,4.841713,0.0,Transient,0.421030,0,1,Check-Out,2015,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,0.811001,2017,August,35,30,2,3.048780,0.909091,...,22.299814,0.0,Transient,0.474070,0,0,Check-Out,2017,9,6
119386,City Hotel,0,3.596615,2017,August,35,31,2,3.048780,1.363636,...,22.299814,0.0,Transient,1.071928,0,2,Check-Out,2017,9,7
119387,City Hotel,0,1.198872,2017,August,35,31,2,3.048780,0.909091,...,22.299814,0.0,Transient,0.758779,0,4,Check-Out,2017,9,7
119388,City Hotel,0,3.843441,2017,August,35,31,2,3.048780,0.909091,...,22.299814,0.0,Transient,0.512265,0,0,Check-Out,2017,9,7
119389,City Hotel,0,7.228491,2017,August,35,29,2,4.268293,0.909091,...,22.299814,0.0,Transient,0.728676,0,2,Check-Out,2017,9,7

In [34]:
ds['reservation_status'].unique()

array(['Check-Out', 'Canceled', 'No-Show'], dtype=object)

In [35]:
ds=pd.get_dummies(ds,columns=['reservation_status'])
ds

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_year,reservation_status_month,reservation_status_day,reservation_status_Canceled,reservation_status_Check-Out,reservation_status_No-Show
18,Resort Hotel,0,0.000000,2015,July,27,1,0,0.609756,0.909091,...,Transient,0.526230,0,0,2015,7,2,0,1,0
19,Resort Hotel,0,0.246827,2015,July,27,1,0,2.439024,0.909091,...,Transient,0.737000,0,1,2015,7,5,0,1,0
20,Resort Hotel,0,1.304654,2015,July,27,1,1,2.439024,0.454545,...,Transient,0.479387,0,1,2015,7,6,0,1,0
21,Resort Hotel,0,2.538787,2015,July,27,1,2,2.439024,0.909091,...,Transient,0.421030,0,1,2015,7,7,0,1,0
22,Resort Hotel,0,2.538787,2015,July,27,1,2,2.439024,0.909091,...,Transient,0.421030,0,1,2015,7,7,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,0.811001,2017,August,35,30,2,3.048780,0.909091,...,Transient,0.474070,0,0,2017,9,6,0,1,0
119386,City Hotel,0,3.596615,2017,August,35,31,2,3.048780,1.363636,...,Transient,1.071928,0,2,2017,9,7,0,1,0
119387,City Hotel,0,1.198872,2017,August,35,31,2,3.048780,0.909091,...,Transient,0.758779,0,4,2017,9,7,0,1,0
119388,City Hotel,0,3.843441,2017,August,35,31,2,3.048780,0.909091,...,Transient,0.512265,0,0,2017,9,7,0,1,0
119389,City Hotel,0,7.228491,2017,August,35,29,2,4.268293,0.909091,...,Transient,0.728676,0,2,2017,9,7,0,1,0

In [36]:
ds['hotel'].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [37]:
ds=pd.get_dummies(ds,columns=['hotel'])
ds

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,required_car_parking_spaces,total_of_special_requests,reservation_status_year,reservation_status_month,reservation_status_day,reservation_status_Canceled,reservation_status_Check-Out,reservation_status_No-Show,hotel_City Hotel,hotel_Resort Hotel
18,0,0.000000,2015,July,27,1,0,0.609756,0.909091,0.0,...,0,0,2015,7,2,0,1,0,0,1
19,0,0.246827,2015,July,27,1,0,2.439024,0.909091,0.0,...,0,1,2015,7,5,0,1,0,0,1
20,0,1.304654,2015,July,27,1,1,2.439024,0.454545,0.0,...,0,1,2015,7,6,0,1,0,0,1
21,0,2.538787,2015,July,27,1,2,2.439024,0.909091,0.0,...,0,1,2015,7,7,0,1,0,0,1
22,0,2.538787,2015,July,27,1,2,2.439024,0.909091,0.0,...,0,1,2015,7,7,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,0.811001,2017,August,35,30,2,3.048780,0.909091,0.0,...,0,0,2017,9,6,0,1,0,1,0
119386,0,3.596615,2017,August,35,31,2,3.048780,1.363636,0.0,...,0,2,2017,9,7,0,1,0,1,0
119387,0,1.198872,2017,August,35,31,2,3.048780,0.909091,0.0,...,0,4,2017,9,7,0,1,0,1,0
119388,0,3.843441,2017,August,35,31,2,3.048780,0.909091,0.0,...,0,0,2017,9,7,0,1,0,1,0
119389,0,7.228491,2017,August,35,29,2,4.268293,0.909091,0.0,...,0,2,2017,9,7,0,1,0,1,0

In [38]:
ds['arrival_date_month'].unique()

array(['July', 'August', 'September', 'October', 'November', 'December',
       'January', 'February', 'March', 'April', 'May', 'June'],
      dtype=object)

In [39]:
month_to_number ={'January': 1, 'February': 2, 'March': 3, 'April': 4,'May': 5, 'June': 6, 'July': 7, 'August': 8,
                  'September': 9, 'October': 10, 'November': 11, 'December': 12}

ds['arrival_date_month'] = ds['arrival_date_month'].map(month_to_number)
ds

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,required_car_parking_spaces,total_of_special_requests,reservation_status_year,reservation_status_month,reservation_status_day,reservation_status_Canceled,reservation_status_Check-Out,reservation_status_No-Show,hotel_City Hotel,hotel_Resort Hotel
18,0,0.000000,2015,7,27,1,0,0.609756,0.909091,0.0,...,0,0,2015,7,2,0,1,0,0,1
19,0,0.246827,2015,7,27,1,0,2.439024,0.909091,0.0,...,0,1,2015,7,5,0,1,0,0,1
20,0,1.304654,2015,7,27,1,1,2.439024,0.454545,0.0,...,0,1,2015,7,6,0,1,0,0,1
21,0,2.538787,2015,7,27,1,2,2.439024,0.909091,0.0,...,0,1,2015,7,7,0,1,0,0,1
22,0,2.538787,2015,7,27,1,2,2.439024,0.909091,0.0,...,0,1,2015,7,7,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,0.811001,2017,8,35,30,2,3.048780,0.909091,0.0,...,0,0,2017,9,6,0,1,0,1,0
119386,0,3.596615,2017,8,35,31,2,3.048780,1.363636,0.0,...,0,2,2017,9,7,0,1,0,1,0
119387,0,1.198872,2017,8,35,31,2,3.048780,0.909091,0.0,...,0,4,2017,9,7,0,1,0,1,0
119388,0,3.843441,2017,8,35,31,2,3.048780,0.909091,0.0,...,0,0,2017,9,7,0,1,0,1,0
119389,0,7.228491,2017,8,35,29,2,4.268293,0.909091,0.0,...,0,2,2017,9,7,0,1,0,1,0

In [40]:
ds[['hotel_City Hotel','hotel_Resort Hotel']].head(60)

    hotel_City Hotel  hotel_Resort Hotel
18                 0                   1
19                 0                   1
20                 0                   1
21                 0                   1
22                 0                   1
23                 0                   1
24                 0                   1
25                 0                   1
26                 0                   1
27                 0                   1
28                 0                   1
29                 0                   1
31                 0                   1
32                 0                   1
33                 0                   1
34                 0                   1
35                 0                   1
36                 0                   1
37                 0                   1
38                 0                   1
39                 0                   1
40                 0                   1
41                 0                   1
42                 0                   1
43                 0                   1
44                 0                   1
45                 0                   1
46                 0                   1
47                 0                   1
48                 0                   1
49                 0                   1
50                 0                   1
51                 0                   1
52                 0                   1
53                 0                   1
54                 0                   1
55                 0                   1
56                 0                   1
57                 0                   1
58                 0                   1
59                 0                   1
60                 0                   1
61                 0                   1
62                 0                   1
63                 0                   1
64                 0                   1
65                 0                   1
66                 0                   1
67                 0                   1
68                 0                   1
69                 0                   1
70                 0                   1
71                 0                   1
72                 0                   1
73                 0                   1
74                 0                   1
75                 0                   1
76                 0                   1
77                 0                   1
78                 0                   1

In [41]:
ds[['hotel_City Hotel','hotel_Resort Hotel']].tail(60)

        hotel_City Hotel  hotel_Resort Hotel
119330                 1                   0
119331                 1                   0
119332                 1                   0
119333                 1                   0
119334                 1                   0
119335                 1                   0
119336                 1                   0
119337                 1                   0
119338                 1                   0
119339                 1                   0
119340                 1                   0
119341                 1                   0
119342                 1                   0
119343                 1                   0
119344                 1                   0
119345                 1                   0
119346                 1                   0
119347                 1                   0
119348                 1                   0
119349                 1                   0
119350                 1                   0
119351                 1                   0
119352                 1                   0
119353                 1                   0
119354                 1                   0
119355                 1                   0
119356                 1                   0
119357                 1                   0
119358                 1                   0
119359                 1                   0
119360                 1                   0
119361                 1                   0
119362                 1                   0
119363                 1                   0
119364                 1                   0
119365                 1                   0
119366                 1                   0
119367                 1                   0
119368                 1                   0
119369                 1                   0
119370                 1                   0
119371                 1                   0
119372                 1                   0
119373                 1                   0
119374                 1                   0
119375                 1                   0
119376                 1                   0
119377                 1                   0
119378                 1                   0
119379                 1                   0
119380                 1                   0
119381                 1                   0
119382                 1                   0
119383                 1                   0
119384                 1                   0
119385                 1                   0
119386                 1                   0
119387                 1                   0
119388                 1                   0
119389                 1                   0

In [42]:
# ds.drop('hotel_Resort Hotel',axis=1,inplace=True)
# ds

In [43]:
ds[['reservation_status_Check-Out','reservation_status_No-Show','reservation_status_Canceled']].head(60)

,reservation_status_Check-Out,reservation_status_No-Show,reservation_status_Canceled
18,1,0,0
19,1,0,0
20,1,0,0
21,1,0,0
22,1,0,0
23,1,0,0
24,1,0,0
25,1,0,0
26,1,0,0
27,0,0,1
28,1,0,0
29,1,0,0
31,1,0,0
32,0,0,1
33,1,0,0
34,0,0,1
35,0,0,1
36,1,0,0
37,1,0,0
38,0,0,1
39,1,0,0
40,0,0,1
41,1,0,0
42,1,0,0
43,1,0,0
44,1,0,0
45,0,0,1
46,1,0,0
47,1,0,0
48,1,0,0
49,1,0,0
50,1,0,0
51,1,0,0
52,1,0,0
53,1,0,0
54,1,0,0
55,1,0,0
56,1,0,0
57,1,0,0
58,1,0,0
59,1,0,0
60,1,0,0
61,1,0,0
62,1,0,0
63,1,0,0
64,0,0,1
65,1,0,0
66,1,0,0
67,1,0,0
68,0,0,1
69,0,0,1
70,0,0,1
71,0,0,1
72,1,0,0
73,1,0,0
74,0,0,1
75,1,0,0
76,0,0,1
77,1,0,0
78,1,0,0

In [44]:
ds[['reservation_status_Check-Out','reservation_status_No-Show','reservation_status_Canceled']].tail(60)

,reservation_status_Check-Out,reservation_status_No-Show,reservation_status_Canceled
119330,1,0,0
119331,1,0,0
119332,1,0,0
119333,1,0,0
119334,1,0,0
119335,1,0,0
119336,1,0,0
119337,1,0,0
119338,1,0,0
119339,1,0,0
119340,1,0,0
119341,1,0,0
119342,1,0,0
119343,1,0,0
119344,1,0,0
119345,1,0,0
119346,1,0,0
119347,1,0,0
119348,1,0,0
119349,1,0,0
119350,1,0,0
119351,1,0,0
119352,1,0,0
119353,1,0,0
119354,1,0,0
119355,1,0,0
119356,1,0,0
119357,1,0,0
119358,1,0,0
119359,1,0,0
119360,1,0,0
119361,1,0,0
119362,1,0,0
119363,1,0,0
119364,1,0,0
119365,1,0,0
119366,1,0,0
119367,1,0,0
119368,1,0,0
119369,1,0,0
119370,1,0,0
119371,1,0,0
119372,1,0,0
119373,1,0,0
119374,1,0,0
119375,1,0,0
119376,1,0,0
119377,1,0,0
119378,1,0,0
119379,1,0,0
119380,1,0,0
119381,1,0,0
119382,1,0,0
119383,1,0,0
119384,1,0,0
119385,1,0,0
119386,1,0,0
119387,1,0,0
119388,1,0,0
119389,1,0,0

In [45]:
ds.drop('reservation_status_Canceled',axis=1,inplace=True)
ds

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_year,reservation_status_month,reservation_status_day,reservation_status_Check-Out,reservation_status_No-Show,hotel_City Hotel,hotel_Resort Hotel
18,0,0.000000,2015,7,27,1,0,0.609756,0.909091,0.0,...,0.526230,0,0,2015,7,2,1,0,0,1
19,0,0.246827,2015,7,27,1,0,2.439024,0.909091,0.0,...,0.737000,0,1,2015,7,5,1,0,0,1
20,0,1.304654,2015,7,27,1,1,2.439024,0.454545,0.0,...,0.479387,0,1,2015,7,6,1,0,0,1
21,0,2.538787,2015,7,27,1,2,2.439024,0.909091,0.0,...,0.421030,0,1,2015,7,7,1,0,0,1
22,0,2.538787,2015,7,27,1,2,2.439024,0.909091,0.0,...,0.421030,0,1,2015,7,7,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,0.811001,2017,8,35,30,2,3.048780,0.909091,0.0,...,0.474070,0,0,2017,9,6,1,0,1,0
119386,0,3.596615,2017,8,35,31,2,3.048780,1.363636,0.0,...,1.071928,0,2,2017,9,7,1,0,1,0
119387,0,1.198872,2017,8,35,31,2,3.048780,0.909091,0.0,...,0.758779,0,4,2017,9,7,1,0,1,0
119388,0,3.843441,2017,8,35,31,2,3.048780,0.909091,0.0,...,0.512265,0,0,2017,9,7,1,0,1,0
119389,0,7.228491,2017,8,35,29,2,4.268293,0.909091,0.0,...,0.728676,0,2,2017,9,7,1,0,1,0

In [47]:
ds['deposit_type'].unique()

array(['No Deposit', 'Refundable', 'Non Refund'], dtype=object)

In [48]:
ds['customer_type'].unique()

array(['Transient', 'Contract', 'Transient-Party', 'Group'], dtype=object)

In [49]:
ds['customer_type'].head(60)

18          Transient
19          Transient
20          Transient
21          Transient
22          Transient
23          Transient
24           Contract
25          Transient
26           Contract
27          Transient
28          Transient
29          Transient
31          Transient
32          Transient
33          Transient
34          Transient
35          Transient
36          Transient
37          Transient
38          Transient
39          Transient
40          Transient
41           Contract
42          Transient
43          Transient
44          Transient
45          Transient
46          Transient
47    Transient-Party
48           Contract
49          Transient
50    Transient-Party
51           Contract
52           Contract
53          Transient
54          Transient
55          Transient
56          Transient
57          Transient
58          Transient
59          Transient
60          Transient
61          Transient
62          Transient
63           Contract
64          Transient
65          Transient
66          Transient
67          Transient
68          Transient
69          Transient
70          Transient
71          Transient
72          Transient
73          Transient
74          Transient
75          Transient
76          Transient
77          Transient
78          Transient
Name: customer_type, dtype: object

In [50]:
ds=pd.get_dummies(ds,columns=['customer_type'])
ds

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,reservation_status_month,reservation_status_day,reservation_status_Check-Out,reservation_status_No-Show,hotel_City Hotel,hotel_Resort Hotel,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
18,0,0.000000,2015,7,27,1,0,0.609756,0.909091,0.0,...,7,2,1,0,0,1,0,0,1,0
19,0,0.246827,2015,7,27,1,0,2.439024,0.909091,0.0,...,7,5,1,0,0,1,0,0,1,0
20,0,1.304654,2015,7,27,1,1,2.439024,0.454545,0.0,...,7,6,1,0,0,1,0,0,1,0
21,0,2.538787,2015,7,27,1,2,2.439024,0.909091,0.0,...,7,7,1,0,0,1,0,0,1,0
22,0,2.538787,2015,7,27,1,2,2.439024,0.909091,0.0,...,7,7,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,0.811001,2017,8,35,30,2,3.048780,0.909091,0.0,...,9,6,1,0,1,0,0,0,1,0
119386,0,3.596615,2017,8,35,31,2,3.048780,1.363636,0.0,...,9,7,1,0,1,0,0,0,1,0
119387,0,1.198872,2017,8,35,31,2,3.048780,0.909091,0.0,...,9,7,1,0,1,0,0,0,1,0
119388,0,3.843441,2017,8,35,31,2,3.048780,0.909091,0.0,...,9,7,1,0,1,0,0,0,1,0
119389,0,7.228491,2017,8,35,29,2,4.268293,0.909091,0.0,...,9,7,1,0,1,0,0,0,1,0

In [51]:
ds[['customer_type_Contract','customer_type_Group','customer_type_Transient','customer_type_Transient-Party']].head(60)

,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
18,0,0,1,0
19,0,0,1,0
20,0,0,1,0
21,0,0,1,0
22,0,0,1,0
23,0,0,1,0
24,1,0,0,0
25,0,0,1,0
26,1,0,0,0
27,0,0,1,0
28,0,0,1,0
29,0,0,1,0
31,0,0,1,0
32,0,0,1,0
33,0,0,1,0
34,0,0,1,0
35,0,0,1,0
36,0,0,1,0
37,0,0,1,0
38,0,0,1,0
39,0,0,1,0
40,0,0,1,0
41,1,0,0,0
42,0,0,1,0
43,0,0,1,0
44,0,0,1,0
45,0,0,1,0
46,0,0,1,0
47,0,0,0,1
48,1,0,0,0
49,0,0,1,0
50,0,0,0,1
51,1,0,0,0
52,1,0,0,0
53,0,0,1,0
54,0,0,1,0
55,0,0,1,0
56,0,0,1,0
57,0,0,1,0
58,0,0,1,0
59,0,0,1,0
60,0,0,1,0
61,0,0,1,0
62,0,0,1,0
63,1,0,0,0
64,0,0,1,0
65,0,0,1,0
66,0,0,1,0
67,0,0,1,0
68,0,0,1,0
69,0,0,1,0
70,0,0,1,0
71,0,0,1,0
72,0,0,1,0
73,0,0,1,0
74,0,0,1,0
75,0,0,1,0
76,0,0,1,0
77,0,0,1,0
78,0,0,1,0

In [52]:
ds.drop('customer_type_Transient-Party',axis=1,inplace=True)
ds

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,reservation_status_year,reservation_status_month,reservation_status_day,reservation_status_Check-Out,reservation_status_No-Show,hotel_City Hotel,hotel_Resort Hotel,customer_type_Contract,customer_type_Group,customer_type_Transient
18,0,0.000000,2015,7,27,1,0,0.609756,0.909091,0.0,...,2015,7,2,1,0,0,1,0,0,1
19,0,0.246827,2015,7,27,1,0,2.439024,0.909091,0.0,...,2015,7,5,1,0,0,1,0,0,1
20,0,1.304654,2015,7,27,1,1,2.439024,0.454545,0.0,...,2015,7,6,1,0,0,1,0,0,1
21,0,2.538787,2015,7,27,1,2,2.439024,0.909091,0.0,...,2015,7,7,1,0,0,1,0,0,1
22,0,2.538787,2015,7,27,1,2,2.439024,0.909091,0.0,...,2015,7,7,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,0.811001,2017,8,35,30,2,3.048780,0.909091,0.0,...,2017,9,6,1,0,1,0,0,0,1
119386,0,3.596615,2017,8,35,31,2,3.048780,1.363636,0.0,...,2017,9,7,1,0,1,0,0,0,1
119387,0,1.198872,2017,8,35,31,2,3.048780,0.909091,0.0,...,2017,9,7,1,0,1,0,0,0,1
119388,0,3.843441,2017,8,35,31,2,3.048780,0.909091,0.0,...,2017,9,7,1,0,1,0,0,0,1
119389,0,7.228491,2017,8,35,29,2,4.268293,0.909091,0.0,...,2017,9,7,1,0,1,0,0,0,1

In [53]:
ds['deposit_type'].unique()

array(['No Deposit', 'Refundable', 'Non Refund'], dtype=object)

In [54]:
ds=pd.get_dummies(ds,columns=['deposit_type'])
ds

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,reservation_status_Check-Out,reservation_status_No-Show,hotel_City Hotel,hotel_Resort Hotel,customer_type_Contract,customer_type_Group,customer_type_Transient,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable
18,0,0.000000,2015,7,27,1,0,0.609756,0.909091,0.0,...,1,0,0,1,0,0,1,1,0,0
19,0,0.246827,2015,7,27,1,0,2.439024,0.909091,0.0,...,1,0,0,1,0,0,1,1,0,0
20,0,1.304654,2015,7,27,1,1,2.439024,0.454545,0.0,...,1,0,0,1,0,0,1,1,0,0
21,0,2.538787,2015,7,27,1,2,2.439024,0.909091,0.0,...,1,0,0,1,0,0,1,1,0,0
22,0,2.538787,2015,7,27,1,2,2.439024,0.909091,0.0,...,1,0,0,1,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,0.811001,2017,8,35,30,2,3.048780,0.909091,0.0,...,1,0,1,0,0,0,1,1,0,0
119386,0,3.596615,2017,8,35,31,2,3.048780,1.363636,0.0,...,1,0,1,0,0,0,1,1,0,0
119387,0,1.198872,2017,8,35,31,2,3.048780,0.909091,0.0,...,1,0,1,0,0,0,1,1,0,0
119388,0,3.843441,2017,8,35,31,2,3.048780,0.909091,0.0,...,1,0,1,0,0,0,1,1,0,0
119389,0,7.228491,2017,8,35,29,2,4.268293,0.909091,0.0,...,1,0,1,0,0,0,1,1,0,0

In [55]:
ds.drop('deposit_type_Non Refund',axis=1,inplace=True)
ds

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,reservation_status_day,reservation_status_Check-Out,reservation_status_No-Show,hotel_City Hotel,hotel_Resort Hotel,customer_type_Contract,customer_type_Group,customer_type_Transient,deposit_type_No Deposit,deposit_type_Refundable
18,0,0.000000,2015,7,27,1,0,0.609756,0.909091,0.0,...,2,1,0,0,1,0,0,1,1,0
19,0,0.246827,2015,7,27,1,0,2.439024,0.909091,0.0,...,5,1,0,0,1,0,0,1,1,0
20,0,1.304654,2015,7,27,1,1,2.439024,0.454545,0.0,...,6,1,0,0,1,0,0,1,1,0
21,0,2.538787,2015,7,27,1,2,2.439024,0.909091,0.0,...,7,1,0,0,1,0,0,1,1,0
22,0,2.538787,2015,7,27,1,2,2.439024,0.909091,0.0,...,7,1,0,0,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,0.811001,2017,8,35,30,2,3.048780,0.909091,0.0,...,6,1,0,1,0,0,0,1,1,0
119386,0,3.596615,2017,8,35,31,2,3.048780,1.363636,0.0,...,7,1,0,1,0,0,0,1,1,0
119387,0,1.198872,2017,8,35,31,2,3.048780,0.909091,0.0,...,7,1,0,1,0,0,0,1,1,0
119388,0,3.843441,2017,8,35,31,2,3.048780,0.909091,0.0,...,7,1,0,1,0,0,0,1,1,0
119389,0,7.228491,2017,8,35,29,2,4.268293,0.909091,0.0,...,7,1,0,1,0,0,0,1,1,0

In [56]:
ds['assigned_room_type'].unique()

array(['G', 'F', 'A', 'D', 'I', 'E', 'C', 'B', 'H', 'L', 'K', 'P'],
      dtype=object)

In [57]:
letter_to_number = {}
for i, letter in enumerate('ABCDEFGHIJKLMNOPQRSTUVWXYZ', start=1):
    letter_to_number[letter] = i

print(letter_to_number)

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7, 'H': 8, 'I': 9, 'J': 10, 'K': 11, 'L': 12, 'M': 13, 'N': 14, 'O': 15, 'P': 16, 'Q': 17, 'R': 18, 'S': 19, 'T': 20, 'U': 21, 'V': 22, 'W': 23, 'X': 24, 'Y': 25, 'Z': 26}

In [58]:
ds['assigned_room_type']=ds['assigned_room_type'].map(letter_to_number)
ds['assigned_room_type']

18        7
19        7
20        6
21        1
22        1
         ..
119385    1
119386    5
119387    4
119388    1
119389    1
Name: assigned_room_type, Length: 118880, dtype: int64

In [59]:
ds['reserved_room_type']=ds['reserved_room_type'].map(letter_to_number)
ds['reserved_room_type']

18        1
19        7
20        6
21        1
22        1
         ..
119385    1
119386    5
119387    4
119388    1
119389    1
Name: reserved_room_type, Length: 118880, dtype: int64

In [60]:
ds['distribution_channel'].unique()

array(['Corporate', 'Direct', 'TA/TO', 'Undefined', 'GDS'], dtype=object)

In [61]:
dist_chn={'Corporate':1,'Direct':2,'TA/TO':3,'Undefined':4,'GDS':5}
ds['distribution_channel']=ds['distribution_channel'].map(dist_chn)
ds['distribution_channel']

18        1
19        2
20        3
21        2
22        2
         ..
119385    3
119386    3
119387    3
119388    3
119389    3
Name: distribution_channel, Length: 118880, dtype: int64

In [62]:
ds['market_segment'].unique()

array(['Corporate', 'Direct', 'Online TA', 'Offline TA/TO',
       'Complementary', 'Groups', 'Aviation'], dtype=object)

In [63]:
dict_market_seg={'Corporate':1, 'Direct':2, 'Online TA':3, 'Offline TA/TO':4,
       'Complementary':5, 'Groups':6, 'Aviation':7}
ds['market_segment']=ds['market_segment'].map(dict_market_seg)
ds['market_segment']

18        1
19        2
20        3
21        2
22        2
         ..
119385    4
119386    3
119387    3
119388    3
119389    3
Name: market_segment, Length: 118880, dtype: int64

In [64]:
ds['country'].unique()

array(['FRA', 'GBR', 'PRT', 'IRL', 'ESP', 'ROU', 'NOR', 'OMN', 'ARG',
       'USA', 'POL', 'DEU', 'BEL', 'CHE', 'CN', 'GRC', 'ITA', 'NLD',
       'DNK', 'RUS', 'SWE', 'AUS', 'EST', 'CZE', 'BRA', 'FIN', 'MOZ',
       'BWA', 'LUX', 'SVN', 'ALB', 'IND', 'CHN', 'MEX', 'MAR', 'UKR',
       'SMR', 'LVA', 'PRI', 'SRB', 'CHL', 'AUT', 'BLR', 'LTU', 'TUR',
       'ZAF', 'AGO', 'ISR', 'CYM', 'ZMB', 'CPV', 'ZWE', 'DZA', 'KOR',
       'CRI', 'HUN', 'ARE', 'TUN', 'JAM', 'HRV', 'HKG', 'IRN', 'GEO',
       'AND', 'GIB', 'URY', 'JEY', 'CAF', 'CYP', 'COL', 'GGY', 'KWT',
       'NGA', 'MDV', 'VEN', 'SVK', 'FJI', 'KAZ', 'PAK', 'IDN', 'LBN',
       'PHL', 'SEN', 'SYC', 'AZE', 'BHR', 'NZL', 'THA', 'DOM', 'MKD',
       'MYS', 'ARM', 'JPN', 'LKA', 'CUB', 'CMR', 'BIH', 'MUS', 'COM',
       'SUR', 'UGA', 'BGR', 'CIV', 'JOR', 'SYR', 'SGP', 'BDI', 'SAU',
       'VNM', 'PLW', 'QAT', 'EGY', 'PER', 'MLT', 'MWI', 'ECU', 'MDG',
       'ISL', 'UZB', 'NPL', 'BHS', 'MAC', 'TGO', 'TWN', 'DJI', 'STP',
       'KNA', 'ETH', 'IRQ', 'HND', 'RWA', 'KHM', 'MCO', 'BGD', 'IMN',
       'TJK', 'NIC', 'BEN', 'VGB', 'TZA', 'GAB', 'GHA', 'TMP', 'GLP',
       'KEN', 'LIE', 'GNB', 'MNE', 'UMI', 'MYT', 'FRO', 'MMR', 'PAN',
       'BFA', 'LBY', 'MLI', 'NAM', 'BOL', 'PRY', 'BRB', 'ABW', 'AIA',
       'SLV', 'DMA', 'PYF', 'GUY', 'LCA', 'ATA', 'GTM', 'ASM', 'MRT',
       'NCL', 'KIR', 'SDN', 'ATF', 'SLE', 'LAO'], dtype=object)

In [65]:
ds['meal'].unique()

array(['BB', 'HB', 'FB', 'SC', 'Undefined'], dtype=object)

In [66]:
ds=pd.get_dummies(ds,columns=['meal'])
ds

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,customer_type_Contract,customer_type_Group,customer_type_Transient,deposit_type_No Deposit,deposit_type_Refundable,meal_BB,meal_FB,meal_HB,meal_SC,meal_Undefined
18,0,0.000000,2015,7,27,1,0,0.609756,0.909091,0.0,...,0,0,1,1,0,1,0,0,0,0
19,0,0.246827,2015,7,27,1,0,2.439024,0.909091,0.0,...,0,0,1,1,0,1,0,0,0,0
20,0,1.304654,2015,7,27,1,1,2.439024,0.454545,0.0,...,0,0,1,1,0,1,0,0,0,0
21,0,2.538787,2015,7,27,1,2,2.439024,0.909091,0.0,...,0,0,1,1,0,1,0,0,0,0
22,0,2.538787,2015,7,27,1,2,2.439024,0.909091,0.0,...,0,0,1,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,0.811001,2017,8,35,30,2,3.048780,0.909091,0.0,...,0,0,1,1,0,1,0,0,0,0
119386,0,3.596615,2017,8,35,31,2,3.048780,1.363636,0.0,...,0,0,1,1,0,1,0,0,0,0
119387,0,1.198872,2017,8,35,31,2,3.048780,0.909091,0.0,...,0,0,1,1,0,1,0,0,0,0
119388,0,3.843441,2017,8,35,31,2,3.048780,0.909091,0.0,...,0,0,1,1,0,1,0,0,0,0
119389,0,7.228491,2017,8,35,29,2,4.268293,0.909091,0.0,...,0,0,1,1,0,0,0,1,0,0

In [67]:
ds.drop('meal_Undefined',axis=1,inplace=True)

In [68]:
ds.shape

(118880, 42)

In [70]:
ds.to_excel('completely_cleaned_hotelBookings.xlsx',index=False)